<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeyFileDirectory" value="c:\\ICCSPayAPI\\gzmtr_key"/>
    <add key="LogPath" value="c:\\ICCSPayAPI\\logs" />
    <add key="BillPath" value="c:\\ICCSPayAPI\\bill"/>
    
    <!--支付结果通知回调url，用于商户接收支付结果-->
    <add key="Recv_WeiXin_NOTIFY_URL" value="http://ygp.gzmtr.cn/wxpay/notify_url.aspx"/>
    <!--日志等级，0.不输出日志；1.只输出错误信息; 2.输出错误和正常信息; 3.输出错误信息、正常信息和调试信息-->
    <add key="WeiXin_Log_Level" value="2"/>
    
    <add key="Recv_Alipay_NOTIFY_URL" value="http://ygp.gzmtr.cn/wxpay/notify_url.aspx"/>
    
  </appSettings>


  <!-- 2016.4.10微信当面付支付因协议格式问题增加此配置 -->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>

</configuration>