<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="TicketFinishNotifyITUrl" value="http://dzs.gzmtr.cn/wxpay/modules/ticketNotify.php"/>

    <!--<add key="TicketFinishNotifyITUrl" value="http://localhost:1671/ITNotify.aspx"/>-->
  
  <add key="LogPath" value="c:\\ICCSPayAPI\\logs" />
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
