<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MobilePayDBEntities" connectionString="metadata=res://*/DB.MobilePayDB.csdl|res://*/DB.MobilePayDB.ssdl|res://*/DB.MobilePayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ICCS-MONITOR;initial catalog=MobilePayDB;persist security info=True;user id=ICCSPayApp;password=iccs020;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
